@font-face {
    font-family: "Vazir-Regular";
    src: url("./Vazir-Regular-FD.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Vazir-Medium";
    src: url("./Vazir-Medium-FD.woff2");
    font-weight: 500;
    font-style: normal;
}
